@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
.css-13cymwt-control {
  padding: 6px;
  background: #e5e7eb !important;
}
.clamp-lines {
  max-height: calc(4 * 1.5em); /* Number of lines * line-height */
  line-height: 1.5em; /* Line height */
  overflow: hidden;
  text-overflow: ellipsis; /* Optional: Adds "..." at the end */
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.react-tel-input {
  display: flex;
}
.react-tel-input .form-control {
  width: 100px;
  padding: 18.5px 14px 18.5px 50px !important;
  background-color: #e5e7eb;
  border: none;
  outline: none;
  border-radius: 0;
}
.react-tel-input .selected-flag.open:before {
  border-color: transparent;
  box-shadow: none;
}
